.users {
  display: block;
  margin: 0 auto;
  margin-top: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;

  .users-title {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 48px;
    line-height: 29.9px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  
  &-container {
    width: 1460px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    
    button {
      background-color: var(--primary-color-btn);
      width: 80px;
      height: 80px;
      border: 0px;
      border-radius: 100px;
      cursor: pointer;
      padding: 0px;
      position: fixed;
      left: 60px;
      bottom: 60px;
      
      ::ng-deep svg {
        width: 50%;
        height: 50%;
        
        path {
          color: var(--secondary-text-color);
        }
      }
    }
    
    .empty-blank-container {
      display: block;
      margin: 0 auto;
      height: 1580px;
      
      .empty-blank {
        width: 606px;
        height: 90px;
        background-color: rgba(177, 87, 87, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 15px;
        left: 230px;
        
        span {
          width: 546px;
          font-weight: 800;
          font-style: ExtraBold;
          font-size: 26px;
          line-height: 29.9px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: var(--secondary-text-color);
        }
      }
    }
  }
}