<section class="users">
  <span class="users-title green">Список Пользователей</span>
  <app-create-user (userCreated)="onUserAdd($event)"></app-create-user>
  <div class="search-container">
    <input 
      type="text" 
      placeholder="Поиск по имени" 
      (input)="onSearch($event)"
    />
  </div>
  <div class="users-container">
    <button (click)="onRefresh()">
      <img src="/images/refresh-icon.svg" alt="refresh-icon">
    </button>
    @for (user of filteredUsers$ | async; track user.id) {
      <app-user-card [user]="user" (delete)="onUserDelete($event)"></app-user-card>
    } @empty {
      <div class="empty-blank-container">
        <div class="empty-blank">
          <span>Нет пользователей для отображения</span>
        </div>
      </div>
    }
  </div>
</section>