.header {
  background: rgba(24, 18, 30, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  justify-content: center;
  height: 156px;
  box-sizing: border-box;
  padding: 18px 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  
  .active-link {
    color: blue !important;
    text-decoration: underline;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    position: relative;
    height: 72px;
    
    ::ng-deep {
      .p-toggleswitch-handle {
        background-color: transparent;
      }
      
      .p-toggleswitch:not(.p-disabled):has(.p-toggleswitch-input:hover) .p-toggleswitch-handle {
        background-color: transparent;
      }
      
      fa-icon svg path {
        fill: yellow;
      }
      
      .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
        background-color: darkblue;
      }
    }
    
    .header-actions {
      position: absolute;
      right: 0;
      top: 100%;
      margin-top: 4px;
      display: flex;
      align-items: center;
      
      .change-action {
        margin-left: 50px;
        padding: 12px 24px;
        font-weight: 600;
        font-style: 'SemiBold';
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.2%;
        color: var(--main-text-color);
        background: var(--secondary-color-btn);
        border: 0px;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .clicker {
        display: flex;
        align-items: center;
        gap: 16px;
      }
      
      .counter-value {
        text-align: center;
        color: var(--secondary-text-color);
      }
      
      .data-time {
        color: var(--secondary-text-color);
      }
      
      .counter-btn {
        width: 30px;
        height: 30px;
        background: transparent;
        border: 0px;
        cursor: pointer;
        color: #FDFDFD;
        
        &:disabled {
          opacity: 0.4;
          cursor: auto;
        }
      }
    }
    
    .logo-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      span {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 8px;
        margin-top: 6px;
        text-transform: uppercase;
        color: var(--secondary-text-color);
      }
    }
    
    .navigation a {
      margin-left: 24px;
      color: var(--secondary-text-color);
    }
    
    .navigation button {
      margin-left: 49px;
      padding: 12px 24px;
      font-weight: 600;
      font-style: 'SemiBold';
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.2%;
      color: var(--main-text-color);
      background: var(--secondary-color-btn);
      border: 0px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}