<header class="header">
  <div class="header-container container">
    <div class="logo-block">
      <img src="/images/company-logo-icon.svg" alt="icon" width="137" height="48" />
      <span>{{ appConfig.companyName }}</span>
    </div>

    <div class="theme-switcher">
      <p-toggleswitch
        [ngModel]="(themeService.state$ | async)?.mode === 'dark'"
        (onChange)="themeService.toggleMode()"
      >
        <ng-template #handle let-checked="checked">
          <fa-icon
            [icon]="checked ? faMoon : faSun"
            [class.sun-icon]="!checked"
            [class.moon-icon]="checked"
            class="switch-icon"
          ></fa-icon>
        </ng-template>
      </p-toggleswitch>
    </div>

    <p-selectButton
      [options]="themeService.stateOptions"
      [ngModel]="(themeService.state$ | async)?.theme"
      (onChange)="themeService.setTheme($event)"
      [allowEmpty]="false"
    ></p-selectButton>

    <p-select
      [options]="languages"
      optionLabel="label"
      optionValue="value"
      [ngModel]="languageService.language$ | async"
      placeholder="Select a language"
      (onChange)="languageService.setLanguage($event.value)"
    ></p-select>

    <nav class="navigation">
      @for (navItem of navItems; track navItem.path) {
        <a
          [routerLink]="navItem.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: navItem.path === '/' }"
        >
          {{ navItem.label | translate }}
        </a>
      }
      <button id="logout-btn" class="logout-btn" (click)="logout()">
        {{ 'common.logout' | translate }}
      </button>
      <p>{{ 'header.authorized' | translate }}</p>
      <button id="consult-btn" class="consult-btn">{{ 'header.consultButton' | translate }}</button>
    </nav>

    <div class="header-actions">
      @if (isTimerVisible) {
        <div class="data-time">
          {{ currentDate | appDate }}
        </div>
        <div class="last-login">
          {{ 'header.lastLogin' | translate }}
          {{ lastLoginDate ? (lastLoginDate | appDate) : ('header.noDate' | translate) }}
        </div>
      } @else {
        <div class="clicker">
          <button id="counter-inc-btn" class="counter-btn" (click)="onIncrementCounter()">+</button>

          <span class="counter-value">{{ counter }}</span>

          <button
            id="counter-dec-btn"
            class="counter-btn"
            (click)="onDecrementCounter()"
            [disabled]="counter === 0"
          >
            -
          </button>
        </div>
      }
      <button id="change-action" class="change-action" (click)="onToggleTimerVisibility()">
        {{ isTimerVisible ? ('header.showClicker' | translate) : ('header.showDate' | translate) }}
      </button>
    </div>
  </div>
</header>
