<header class="header">
  <div class="header-container container">
    <div class="logo-block">
      <img src="/images/company-logo-icon.svg" alt="icon" width="137" height="29">
      <span>{{ companyName }}</span>
    </div>

    <nav class="navigation">
      @for (item of navItems; track item.path) {
        <a
          [routerLink]="item.path"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: item.path === '/' }"
          >
          {{ item.label }}
        </a>
      }
      <button id="consult-btn" class="consult-btn">Консультация</button>
    </nav>
    
    <div class="header-actions">
      @if (isTimerVisible) {
        <div class="data-time">
          {{ currentDate.toLocaleString('ru-RU') }}
        </div>
      } @else {
        <div class="clicker">
          <button id="counter-inc-btn" class="counter-btn" (click)="onIncrementCounter()">+</button>
          
          <span class="counter-value">{{ counter }}</span>
          
          <button id="counter-dec-btn" class="counter-btn" (click)="onDecrementCounter()" [disabled]="counter === 0">-</button>
        </div>
      }
      <button id="change-action" class="change-action" (click)="onToggleTimerVisibility()">{{ isTimerVisible ? 'Показать кликер' : 'Показать дату' }}</button>
    </div>
  </div>
</header>