<section class="users">
  <span class="users-title green">{{ 'users.page.title' | translate }}</span>
  <app-create-user (createUser)="onAddUser($event)"></app-create-user>
  <app-users-filter (filter)="onChangeFilter($event)"></app-users-filter>
  <span class="users-length">
    {{ 'users.page.found' | translate }}
    {{
      (filteredUsers$ | async)?.length ?? 0
        | plural
          : ('users.page.count.one' | translate)
          : ('users.page.count.few' | translate)
          : ('users.page.count.many' | translate)
    }}
  </span>
  <div class="users-container">
    <button (click)="onRefresh()">
      <fa-icon [icon]="faArrowsRotate"></fa-icon>
    </button>
    @for (user of filteredUsers$ | async; track user.id) {
      <app-user-card [user]="user" (deleteUser)="onDeleteUser($event)"></app-user-card>
    } @empty {
      <div class="empty-blank-container">
        <div class="empty-blank">
          <span>{{ 'users.page.empty' | translate }}</span>
        </div>
      </div>
    }
  </div>
</section>
