<div class="post-container">
  <div class="post">
    <div class="post-title-container">
      <span class="green tags">{{ 'posts.postDetail.titleLabel' | translate }}</span>
      <span class="title green">{{ post.title }}</span>
      <span class="green tags">{{ 'posts.postDetail.bodyLabel' | translate }}</span>
      <span class="body orange">{{ post.body }}</span>
    </div>

    <div class="post-tags-container">
      <span class="green tags">{{ 'posts.postDetail.tagsLabel' | translate }}</span>
      <div class="tags">
        <div>
          <span class="orange bold">{{ post.tags }}</span>
        </div>
      </div>
    </div>

    <div class="post-reactions-container">
      <span class="green reactions title">{{ 'posts.postDetail.reactionsTitle' | translate }}</span>
      <div class="reactions">
        <div>
          <span class="gray thin">{{ 'posts.postDetail.likes' | translate }}</span>
          <span class="green bold">{{ post.reactions.likes }}</span>
        </div>
        <div>
          <span class="gray thin">{{ 'posts.postDetail.dislikes' | translate }}</span>
          <span class="green bold">{{ post.reactions.dislikes }}</span>
        </div>
      </div>
    </div>

    <div class="post-views-container">
      <span class="green views title">{{ 'posts.postDetail.viewsTitle' | translate }}</span>
      <div class="views">
        <div>
          <span class="gray thin">{{ 'posts.postDetail.viewsLabel' | translate }}</span>
          <span class="green bold">{{ post.views }}</span>
        </div>
        <div>
          <span class="gray thin">{{ 'posts.postDetail.userIdLabel' | translate }}</span>
          <span class="gray-italic">{{ post.userId }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
