<div class="post-container">
  <div class="post">
      <div class="post-title-container">
      <span class="green tags">title:</span>
      <span class="title green">{{ post.title }}</span>
      <span class="green tags">body:</span>
      <span class="body orange">{{ post.body }}</span>
    </div>
  
    <div class="post-tags-container">
      <span class="green tags">tags:</span>
      <div class="tags">
        <div>
          <span class="orange bold">{{ post.tags }}</span>
        </div>
      </div>
    </div>
  
    <div class="post-reactions-container">
      <span class="green reactions title">reactions</span>
      <div class="reactions">
        <div>
          <span class="gray thin">likes</span>
          <span class="green bold">{{ post.reactions.likes }}</span>
        </div>
        <div>
          <span class="gray thin">dislikes</span>
          <span class="green bold">{{ post.reactions.dislikes }}</span>
        </div>
      </div>
    </div>
  
    <div class="post-views-container">
      <span class="green views title">views</span>
      <div class="views">
        <div>
          <span class="gray thin">views</span>
          <span class="green bold">{{ post.views }}</span>
        </div>
        <div>
          <span class="gray thin">user id:</span>
          <span  class="gray-italic">{{ post.userId }}</span>
        </div>
      </div>
    </div>
  </div>
</div>