.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  
  .spinner {
    animation: rotate-spinner 1s linear infinite;
    transform-origin: center center; 
    backface-visibility: hidden;
  }
  
  @keyframes rotate-spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}