.hero {
  min-height: 100vh;
  background: url('/images/bg-mountains.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
    
  .header {
    background-color: transparent;
    width: 100%;
    justify-content: center;
    margin-top: 16px;
    
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1180px;
      
      .logo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        span {
          font-family: 'NEXT ART';
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 3px;
          margin-top: 6px;
        }
      }
      
      .navigation a {
        margin-left: 24px;
      }
      
      .navigation button {
        margin-left: 49px;
        padding: 12px 24px;
        font-weight: 600;
        font-style: 'SemiBold';
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.2%;
        background-color: #1A3E3E;
        border: 0px;
        border-radius: 8px;
      }
    }
  }
  
  .title-container {
    width: 1180px;
    height: auto;
    margin: 0 auto;
    margin-top: 430px;
    
    .title {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-style: 'Regular';
      font-size: 50px;
      line-height: 150%;
      letter-spacing: 2%;
      text-transform: uppercase;
      margin: 0px;
      text-align: left;
    }
  }
  
  .form-data-container {
    width: 1180px;
    height: 161px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    border-radius: 10px;
    margin-top: 41px;
    box-sizing: border-box;
    
    button {
      height: 52px;
      width: 213px;
      background-color: #FDFDFD;
      border: 0px;
      color: #1A3E3E;
      border-radius: 8px;
      padding: 0px;
      margin-bottom: 31px;
    }
    
    .form-item-container {
      display: flex;
      flex-direction: column;
      
      .subtitle {
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0px;
          margin-top: 8px;
      }
    }
    
    .form-item {
      border-radius: 10px;
      border: 1px solid rgba(225, 227, 228, 1);
      width: 270px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: center;
      
      img {
         margin-right: 16px;
      }
      
      span {
          font-weight: 600;
          font-style: Bold;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0px;
          margin-left: 16px;
      }
    }
  }
}