<main class="hero">
  <header class="header">
    <div class="header-container container">
      <div class="logo-block">
        <img src="/images/company-logo-icon.svg" alt="icon" width="137" height="29">
        <span>{{ companyName }}</span>
      </div>
  
      <nav class="navigation">
        <a href="#">Главная</a>
        <a href="#">Про гида</a>
        <a href="#">Программа тура</a>
        <a href="#">Стоимость</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
        <button class="consult-btn">Консультация</button>
      </nav>
    </div>
  </header>
  
  <div class="title-container">
    <h1 class="title">Насладись прогулкой в горах <br> с командой единомышленников</h1>
  </div>
  
  <div class="form-data-container container">
    <div class="form-item-container">
      <div class="form-item">
        <span>Локация для тура</span>
        <img src="/images/arrow-down-icon.svg" alt="arrow down">
      </div>
      <span class="subtitle">выберите из списка</span>
    </div>
    <div class="form-item-container">
      <div class="form-item">
        <span>Дата похода</span>
        <img src="/images/date-icon.svg" alt="formkit date">
      </div>
      <span class="subtitle">укажите диапазон</span>
    </div>
    <div class="form-item-container">
      <div class="form-item">
        <span>Участники</span>
        <img src="/images/arrow-down-icon.svg" alt="arrow-down">
      </div>
      <span class="subtitle">минимум 4 человека</span>
    </div>
    <button>Найти программу</button>
  </div>
</main>