.hero {
  height: 985px;
  background: url('/images/bg-mountains.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  
  .title-container {
    width: 1180px;
    height: auto;
    margin: 0 auto;
    margin-top: 430px;
    
    .title {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-style: 'Regular';
      font-size: 50px;
      line-height: 150%;
      letter-spacing: 2%;
      text-transform: uppercase;
      margin: 0px;
      text-align: left;
    }
  }
  
  .form-data-container {
    width: 1180px;
    height: 161px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    border-radius: 10px;
    margin-top: 41px;
    box-sizing: border-box;
    
    .submit-btn {
      height: 52px;
      width: 213px;
      background-color: #FDFDFD;
      border: 0px;
      color: #1A3E3E;
      border-radius: 8px;
      padding: 0px;
      margin-bottom: 31px;
      cursor: pointer;
      
      &:disabled {
        background-color: #cccccc;
        color: #666666;
        opacity: 0.6;
        cursor: auto;
      }
    }
  }
  
  .live-input-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 50px;
    
    .input-field {
      border-radius: 10px;
      border: 1px solid rgba(225, 227, 228, 1);
      width: 270px;
      height: 52px;
      display: flex;
      align-items: center;
      padding: 0px 12px;
    }
    
    input {
      background: transparent;
      border: none;
      width: 270px;
      height: 52px;
      background-image: url('/images/arrow-right-icon.svg');
      background-repeat: no-repeat;
      background-position: right 15px center;
    }
  }
  
  .form-item-container {
    display: flex;
    flex-direction: column;
    
    .subtitle {
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0px;
      margin-top: 8px;
    }
  }
  
  .form-item {
    border-radius: 10px;
    border: 1px solid rgba(225, 227, 228, 1);
    width: 270px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    
    input, select {
      appearance: none;
      border: none;
      outline: none;
      background: transparent;
      font-family: inherit;
    }
    
    select {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-style: Bold;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0px;
      margin-left: 16px;
      background-image: url('/images/arrow-down-icon.svg');
      background-repeat: no-repeat;
      background-position: right 15px center;
      padding-right: 40px;
      cursor: pointer;
      width: 270px;
      height: 52px;
    }
    
    input {
      font-weight: 600;
      font-style: Bold;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0px;
      margin-left: 16px;
      width: 245px;
      height: 52px;
      cursor: pointer;
    }
  }
}