.user {
  max-width: 440px;
  height: 630px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 0 0 50px 0;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  
  button {
    position: absolute;
    top: 30px;
    right: 30px;
    border: 0px;
    border-radius: 4px;
    background-color: red;
    color: white;
    cursor: pointer;
  }
  
  &-name-container {
    height: 106px;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 25px;
    
    .name {
      margin: 0px;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 26px;
      line-height: 29.9px;
      letter-spacing: 0%;
      vertical-align: middle;
    }
    
    .username {
      margin: 0px;
      font-weight: 700;
      font-style: Bold;
      font-size: 15px;
      line-height: 17.25px;
      letter-spacing: 0%;
      vertical-align: middle;
    }
  }
  
  &::before {
    content: '';
    border-bottom: 4px solid rgba(212, 163, 115, 1);
    display: inline-block;
    width: 440px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
  
  .user-contact-container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    
    .contact {
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 12px;
      line-height: 13.8px;
      letter-spacing: 1.2px;
      vertical-align: middle;
      text-transform: uppercase;
      position: relative;
      
      &::after {
        content: '';
        border-bottom: 1px solid rgba(226, 232, 240, 1);
        display: inline-block;
        width: 289px;
        position: absolute;
        top: 50%;
        left: 62%;
        transform: translate(-50%, -50%);
      }
    }
    
    .contacts {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  
  .user-address-container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    
    .address {
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 12px;
      line-height: 13.8px;
      letter-spacing: 1.2px;
      vertical-align: middle;
      text-transform: uppercase;
      position: relative;
      
      &::after {
        content: '';
        border-bottom: 1px solid rgba(226, 232, 240, 1);
        display: inline-block;
        width: 211px;
        position: absolute;
        top: 50%;
        left: 72%;
        transform: translate(-50%, -50%);
      }
    }
    
    .addresses {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      div {
        display: flex;
        justify-content: space-between;
      }
      
      .coordinates {
        
        .coordinate {
          display: flex;
          justify-content: space-between;
          width: 163px;
          gap: 4px;
          
          &-first {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 77px;
            height: 20px;
            border: 1px solid rgba(226, 232, 240, 1);
            border-radius: 3px;
          }
          
          &-second {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 77px;
            height: 20px;
            border: 1px solid rgba(226, 232, 240, 1);
            border-radius: 3px;
          }
        }
      }
    }
  }
  
  .user-job-container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    
    .job {
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 12px;
      line-height: 13.8px;
      letter-spacing: 1.2px;
      vertical-align: middle;
      text-transform: uppercase;
      position: relative;
      
      &::after {
        content: '';
        border-bottom: 1px solid rgba(226, 232, 240, 1);
        display: inline-block;
        width: 256px;
        position: absolute;
        top: 50%;
        left: 66%;
        transform: translate(-50%, -50%);
      }
    }
    
    .jobs {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}