<div class="user" appAnimatedGradient>
  <button appBoldOnHover (click)="onDeleteClick()">х</button>

  <div class="user-name-container">
    <span class="name green">{{ user.name | uppercase }}</span>
    <span class="username orange">@{{ user.username }}</span>
  </div>

  <div class="user-contact-container">
    <span class="green contact">{{ 'users.card.contactsTitle' | translate }}</span>
    <div class="contacts">
      <div>
        <span class="gray thin">{{ 'users.card.emailLabel' | translate }}</span>
        <span class="orange bold">{{ user.email }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.phoneLabel' | translate }}</span>
        <span class="green bold">{{ user.phone | phoneMode: phoneMode.INTERNATIONAL }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.websiteLabel' | translate }}</span>
        <span class="orange bold">{{ user.website }}</span>
      </div>
    </div>
  </div>

  <div class="user-address-container">
    <span class="green address title">{{ 'users.card.addressTitle' | translate }}</span>
    <div class="addresses">
      <div>
        <span class="gray thin">{{ 'users.card.cityLabel' | translate }}</span>
        <span class="green bold">{{ user.address.city }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.streetLabel' | translate }}</span>
        <span class="green bold">{{ user.address.street }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.suiteLabel' | translate }}</span>
        <span class="green bold">{{ user.address.suite }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.zipcodeLabel' | translate }}</span>
        <span class="green bold">{{ user.address.zipcode }}</span>
      </div>
      <div class="coordinates">
        <span class="gray thin">{{ 'users.card.coordinatesLabel' | translate }}</span>
        <div class="coordinate">
          <div class="coordinate-first">
            <span class="green bold">{{ user.address.geo.lat }}</span>
          </div>
          <div class="coordinate-second">
            <span class="green bold">{{ user.address.geo.lng }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-job-container">
    <span class="green job title">{{ 'users.card.jobTitle' | translate }}</span>
    <div class="jobs">
      <div>
        <span class="gray thin">{{ 'users.card.companyLabel' | translate }}</span>
        <span class="green bold">{{ user.company.name }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.missionLabel' | translate }}</span>
        <span class="gray-italic">{{ user.company.catchPhrase }}</span>
      </div>
      <div>
        <span class="gray thin">{{ 'users.card.specializationLabel' | translate }}</span>
        <span class="green bold">{{ user.company.bs }}</span>
      </div>
    </div>
  </div>
</div>
