@font-face {
  font-family: 'Nunito sans';
  src: url('./fonts/nunito-sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito sans';
  src: url('./fonts/nunito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'NEXT ART';
  src: url('./fonts/next-art/NEXT\ ART_SemiBold.otf') format('onetype');
  font-weight: 100 900;
  font-style: normal;
}