@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

.main-btn {
  width: fit-content;
  padding: 16px 36px;
  border-radius: 4px;
  background-color: #1A3E3E;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.012em;
  cursor: pointer;
  border: 0px;
}