<section class="footer">
  <div class="main-footer">
    <div class="main-footer-wrapper container">
      <div class="company-info">
        <div class="company-info-text">
          <span>{{ 'footer.companyPrefix' | translate }} {{ appConfig.companyName }}</span>
          <p>{{ 'footer.description' | translate }}</p>
        </div>

        <div class="company-contacts">
          <a href="mailto:info@domain.com">info@domain.com</a>
          <a href="tel:+71234567890">+7 (123) 456-78-90</a>
        </div>

        <div class="company-social-media">
          <fa-icon [icon]="faTelegram"></fa-icon>
          <fa-icon [icon]="faVk"></fa-icon>
          <fa-icon [icon]="faPinterest"></fa-icon>
          <fa-icon [icon]="faSkype"></fa-icon>
        </div>
      </div>

      <div class="company-services">
        <span>{{ 'footer.servicesTitle' | translate }}</span>
        <ul class="services">
          <li>
            <a href="#">{{ 'footer.services.summer' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.services.winter' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.services.temples' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.services.extreme' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.services.amazon' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.services.africa' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="important-reminds">
        <span>{{ 'footer.remindsTitle' | translate }}</span>
        <ul class="reminds">
          <li>
            <a href="#">{{ 'footer.reminds.packing' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.reminds.essentials' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.reminds.insurance' | translate }}</a>
          </li>
          <li>
            <a href="#">{{ 'footer.reminds.forDoctors' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="super-footer-wrapper">
    <div class="super-footer-container">
      <span>{{ 'footer.copyrightPrefix' | translate }} 2023</span>
      <a href="#">{{ 'footer.privacyPolicy' | translate }}</a>
    </div>
  </div>
</section>
